scratch/*
downloads/*
raw_tables/*
movie/*
svg/*
report/*
*.ods
*.ttf
*.csv
*.tsv
*.xlsx
*.pyc
*.pdb
*.txt
*.html
*.png
*.jpg
*.m4v
*.mp4
.idea
*.bngl
*.cdat
*.gdat
*.gplt
*.net
*.png
*.svg
*.bngl_out

